<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/admin" style="background-color: #e91e63 !important; color:#fff !important">
      <i class="fas fa-tachometer-alt"></i> tableau de bord
    </a>
  </li>

  <% if(locals.Role && locals.userInfo.role === locals.Role.admin) { %>
  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">utilisateurs
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/admin/utilisateurs">liste des utilisateurs</a>
      <a class="dropdown-item" href="/admin/utilisateurs/ajout">ajout utilisateur</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">stations
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/admin/stations">liste des stations</a>
      <a class="dropdown-item" href="/admin/stations/ajout">ajout station</a>
    </div>
  </li>
  <% } %>
</ul>