<style>
  .img-hover-zoom {
    height: 300px;
    overflow: hidden;
  }

  .img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }

  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
</style>
<div class="col-md-3 mb-3">
  <form action="/utilisateur/profile/avatar" method="POST" enctype="multipart/form-data">
    <div class="input-group" style="justify-content: center">

      <div class="img-hover-zoom img-hover-zoom--colorize">
        <% if(locals.avatar && locals.avatar.length > 45) { %>
        <img src="<%= locals.avatar %>" alt="photo de profile" class="img-thumbnail img-profile fade-in mb-3">
        <% } else { %>
        <img src="/img/profile.png" alt="photo de profile" class="img-thumbnail img-profile fade-in mb-3">
        <% } %>
        <input type="file" class="custom-file-input" id="inputImage" aria-describedby="inputGroupFileAddon04"
          name="avatar">
        <label class="custom-file-label" for="inputImage" style="height: 255px; opacity: 0; cursor: pointer;">Choose
          file</label>
      </div>
    </div>
    <button class="btn btn-dark btn-block" type="submit" id="btn-update-avatar" disabled>mettre a jour</button>
  </form>
</div>