<ul class="nav nav-tabs justify-content-end mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/utilisateur/profile" style="background-color: #e91e63 !important; color:#fff !important">
      <i class="fas fa-user"></i> Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/utilisateur/notifications" style="background-color: #1f2532 !important; color:#fff !important">
      <i class="fas fa-user"></i> notifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/utilisateur/profile/password"><i class="fas fa-unlock-alt"></i> mot de passe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/utilisateur/profile/supprimer"><i class="fas fa-trash-alt"></i> supprimer compte</a>
  </li>
</ul>