<style>
  .chercher-form {
    background-color: white;
    padding: 30px 40px 20px;
    border-radius: 7px;
    box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
  }
</style>

<% if(locals.allVoyages) { %>
<form action="/voyages/result" method="POST" class="form-general chercher-form mb-5">
  <div class="form-row">

    <div class="col-md-3">
      <div class="form-group">
        <label for="station">station</label>
        <select class="form-control" id="station" name="station">
          <% allVoyages.forEach(v => { %>
          <option><%= v.nom_station %></option>
          <% }) %>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label for="destination">destination</label>
        <select class="form-control" id="destination" name="destination">
          <% allVoyages.forEach(v => { %>
          <option><%= v.destination %></option>
          <% }) %>
        </select>
      </div>
    </div>

    <div class="col-md-3">
      <label for="date">Date</label>
      <input type="date" class="form-control" name="date" placeholder="Entrer date">
    </div>

    <div class="col-md-3">
      <label for="btn"></label>
      <button type="submit" class="btn btn-danger btn-block mb-2 mt-2">RECHERCHER</button>
    </div>

  </div>
</form>
<% } %>