<footer>
  <div class="container">
    <p>All rights reserved © Louage 2019</p>
  </div>
</footer>

<script src="/javascripts/navbar-collapse.js" defer></script>
<script src="/javascripts/validation.js" defer></script>


</body>
</html>