<%- include('partials/head.ejs') -%>
<%- include('partials/navbar') -%>
<div class="jumbotron container-v50">
  <div class="container py-5">
    <div class="row">
      
      <div class="col-md-6 mb-3">

        <h1 class="display-4 flipInX">BIENVENUE</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>        

        <form class="w-100 form-row">
          <div class="col-md-4">
            <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="col-md-4">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>monsef bey</option>
              <option>sousse</option>
              <option>bizerte</option>
              <option>el kef</option>              
            </select>
          </div>
          <div class="col-md-4"><button class="btn btn-primary btn-block">Rechercher</button></div>
        </form>
      </div>

      <div class="col-md-6">
        <img src="img/trans.png" alt="" style="max-width: 500px" class="front-img float-right">
      </div>
    </div>

  </div>
</div>

<div class="container">

</div>

<%- include('partials/footer.ejs') -%>