<%- include('partials/head.ejs') -%>
<div class="jumbotron container-v50 mt-3">
  <div class="container py-5">

    <form action="/register" method="POST" class="form-signin form-auth bg-dark w-100 mx-auto mb-2">

      <h3 class="text-center mb-3">Register</h3>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" id="email" name="email" class="form-control mb-3" placeholder="Entrer votre adresse email"
          required autofocus>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" class="form-control"
          placeholder="Entrer votre mot de passe" required>
      </div>

      <p>
        En créant votre compte vous acceptez nos conditions d'utilisation et notre politique de confidentialité
      </p>

      <button class="btn btn-lg btn-primary btn-block mt-5 mb-2 font-s14" type="submit">cree un compte</button>

      <div class="text-center"><a href="/login" class="btn btn-link font-s14">Vous avez déjà un compte ?</a></div>
    </form>

    <div class="alert alert-danger mx-400" id="form-signin" role="alert">alter</div>

    <% if(locals.msg) { %>
    <div class="alert alert-dark mx-400" role="alert">
      <%= msg %> <a href="/login" class="font-s14">Se connecter</a>
    </div>
    <% } %>

  </div>
</div>

<script src="javascripts/validation.js" defer></script>
</body>
</html>