h2 {
  border-bottom: 2px solid #4d4d4d;
  color: #3a3a3a;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-weight: 600;
}

.navbar {
  font-family: 'Lato', sans-serif !important;
  padding: 10px 130px !important;
  height: 84px;  
}

.navbar, .jumbotron {
  background-color: #ffffff !important;
}

.nav-link {
  position: relative;
  color: #7782aa !important;  
  transition: all .4s ease;
}

.nav-link:hover, .nav-link:active {
  color: #292929 !important;  
  transition: all .4s ease;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #000;
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
}


.btn-primary {
  border-bottom: 5px solid #286fbb;
}

label, .btn, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

label {
  font-size: 14px;
}

.font-s14 {
  font-size: 14px !important;
}

.display-4 {
  font-size: 70px !important;
  color: #007bff !important;
  font-weight: 600;
}

.container-v50 {
  min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
}


.form-signin {
  /*box-shadow: 1px 1px 6px 2px rgb(173, 173, 173);*/
    padding: 20px;
}

#form-signin {
  display: none;
}


.img-profile {
  max-width: 300px;
  box-shadow: 0 2px 5px 0 rgba(19,41,104,.2);
}


@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px !important; 
  }

  .front-img {
    display: none;
  }

  .display-4 {
    font-size: 30px !important;
  }
}
