/* Util */
.font-s14 {
  font-size: 14px !important;
}

.display-4 {
  font-size: 70px !important;
  color: #007bff !important;
  font-weight: 600;
}

.mw-400 {
  max-width: 400px;
}

.page-header {
  background: #1f2532;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.bread {
  display: inline-block;
}

.bread a {
  font-size: 14px;
  font-weight: 100;  
  color: #707d8f !important;
  text-decoration: none;
}

.bread a:first-child { color: #007bff !important; }

/* End Util */

.navbar {
  background-color: #1f2532 !important;
  font-family: 'Lato', sans-serif !important;
  padding: 10px 130px !important;
  height: 84px;  
}

.jumbotron {
  background-color: #ffffff !important;
}

h2 {
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
  background-color: #1f2532;
}

.nav-link {
  font-size: 14px !important;
  position: relative;
  color: #707d8f !important;  
  transition: all .4s ease;
}

.nav-link:hover, .nav-link:active {
  color: #ffffff !important;  
  transition: all .4s ease;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: rgb(255, 255, 255);
  transition: width .3s;
}

.nav-link:hover::after {
  width: 100%;
}


.btn-primary {
  border-bottom: 5px solid #286fbb;
}

label, .btn, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

label {
  font-size: 14px;
}

.container-v50 {
  min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
}


.form-signin {
  /*box-shadow: 1px 1px 6px 2px rgb(173, 173, 173);*/
    padding: 20px;
}

#form-signin {
  display: none;
}

.form-bg-gray {
  background-color: #e4e6e7;
  padding: 20px;
}

.img-profile {
  max-width: 300px;
  box-shadow: 0 2px 5px 0 rgba(19,41,104,.2);
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px !important; 
  }

  .front-img {
    display: none;
  }

  .display-4 {
    font-size: 30px !important;
  }
}
