.navbar {
  font-family: 'Lato', sans-serif !important;
  padding: 10px 130px !important;
  height: 84px;  
}

.navbar, .jumbotron {
  background-color: #ffffff !important;
}

a {
  color: #306d80 !important;  
}

.btn-primary {
  border-bottom: 5px solid #286fbb;
}

label, .btn, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

label {
  font-size: 14px;
}

.font-s14 {
  font-size: 14px !important;
}

.display-4 {
  font-size: 70px !important;
  color: #007bff !important;
  font-weight: 600;
}

.container-v50 {
  min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
}


.form-signin {
  /*box-shadow: 1px 1px 6px 2px rgb(173, 173, 173);*/
    padding: 20px;
}