.navbar {
  font-family: 'Lato', sans-serif !important;
  padding: 10px 130px !important;
  height: 84px;  
}

.navbar, .jumbotron {
  background-color: #ffffff !important;
}

a {
  color: #306d80 !important;  
}

label, .btn, a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.display-4 {
  font-size: 70px !important;
  color: #007bff !important;
  font-weight: 600;
}

.container-v50 {
  min-height: 80vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 0;
}