/* Util */
.font-s14 {
  font-size: 14px !important;
}

.mw-400 {
  max-width: 400px;
}

.page-header {
  background: #1f2532;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.bread {
  display: inline-block;
}

.bread a {
  font-size: 14px;
  font-weight: 100;
  color: #707d8f !important;
  text-decoration: none;
}

.bread a:first-child {
  color: #007bff !important;
}

/* End Util */

.navbar {
  background-color: #1f2532 !important;
  font-family: 'Lato', sans-serif !important;
  padding: 20px 130px !important;
}

.jumbotron {
  background-color: #eaeaea !important;
}

h2 {
  text-transform: uppercase;
  padding: 10px;
  color: #ffffff;
  background-color: #1f2532;
}

.nav-link {
  font-size: 14px !important;
  position: relative;
  color: #707d8f !important;
  transition: all .4s ease;
}

.nav-link:hover,
.nav-link:active {
  color: #ffffff !important;
}

.btn-primary {
  border-bottom: 5px solid #286fbb;
}

button,
.dropdown-item,
label,
.btn,
a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.container-v50 {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column-reverse;
  padding-top: 0;
  padding-bottom: 0;
}


.form-signin {
  padding: 20px;
}

#form-signin {
  display: none;
}

.form-bg-gray {
  background-color: #e4e6e7;
  padding: 20px;
}

.img-profile {
  max-width: 300px;
  box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
}

th {
  color: #fff !important;
  background-color: #1f2532 !important;
  text-transform: uppercase;
}

.btn-dark {
  background-color: #1f2532 !important
}

.btn-dark:hover {
  background-color: #17191f !important
}

.img-nav {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.img-profile {
  width: 255px;
  height: 255px;
  object-fit: cover;
}

.form-p20 {
  padding: 20px !important;
}

.nav-tabs .nav-link {
  color: #1f2532;
  background-color: #fff !important;
  border-radius: 0;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active {
  color: #ffffff;
  background-color: #1f2532 !important;
  border-radius: 0;
}

.box-light {
  box-shadow: 1px 1px 12px 13px rgb(224, 224, 224);
}

.form-auth,
.box-dark {
  color: #fff;
  box-shadow: 1px 0px 25px 1px rgb(82, 82, 82);
  max-width: 400px;
}

.mx-400 {
  max-width: 400px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 20px !important;
  }

  .front-img {
    display: none;
  }

  .display-4 {
    font-size: 30px !important;
  }
}