<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/chefstation" style="background-color: #e91e63 !important; color:#fff !important">
      <i class="fas fa-tachometer-alt"></i> tableau de bord
    </a>
  </li>

  <% if(locals.Role && locals.userInfo.role === locals.Role.chefStation) { %>
  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">notifications
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/chefstation/notifications">liste des notifications</a>
      <a class="dropdown-item" href="/chefstation/notifications/envoyer">ajout notification</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">vehicules
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/chefstation/vehicules">liste des vehicules</a>
      <a class="dropdown-item" href="/chefstation/vehicules/ajout">ajout vehicule</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">voyages
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/chefstation/voyages">liste des voyages</a>
      <a class="dropdown-item" href="/chefstation/voyages/ajout">ajout voyage</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <button class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="false">reservations
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/chefstation/reservations">liste des reservations</a>
    </div>
  </li>
  <% } %>
</ul>